#country-detail{
    text-align:center;
}

#h3{
    color:yellowgreen;
}

#h1{
    color: yellowgreen;
    text-align: center;
}

#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.country{
    border: 2px solid lawngreen;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}